body {
    color: #000;
    background-color:  #E2E2E2;
    font-family: Arial, Helvetica, sans-serif;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input {
    color: #333;
    padding: 5px 10px;
    outline: none;
    border: none;
}

button {
    color: #fff;
    padding: 5px 20px;
    font-size: 14px;
    text-align: center;
    background-color: #999;
    border: none;
    cursor: pointer;
}

li {
    display: inline-block;
}

.nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
}

.nav a:hover {
    background-color:#005580;
}

.block_content .heading a {
    color: #006699;
    text-decoration: none;
}

.block_content .heading p {
    font-size: 12px;
    font-style: italic;
    margin: 5px 0 15px;
}

.block_content .content img {
    margin: 3px 25px 0 3px;
    border: 5px solid #BDBDBD;
    float: left;

}

.block_content .content p {
    font-size: 14px;
    font-style: normal;
    line-height: 25px;
}

.more a {
    color: #808080;
    padding: 5px 15px;
    text-decoration: none;
    background-color: #E4E4E4;
}

.more a:hover {
    color: #fff;
    background-color: #006699;
}

.slide img {
    width: 100%;
    height: 100%;
}

.sidebar .content a {
    color: #006699;
    text-decoration: none;
}

.sidebar .list li {
    padding: 0 0 5px 15px;
    background: url(https://dd.zerotheme.com/demo/zero555/zResponsive/images/marker-1.gif) 0 11px no-repeat;
}

.sidebar .list a {
    color: #292929;
}

.sidebar .list a:hover {
    color: #006699;
}

#content img {
    margin: 5px 5px 0 0;
    border: 5px solid #BDBDBD;
    float: left;
}

.footer .content a {
    color: #006699;
    text-decoration: none;
}

.footer .list li {
    display: list-item;
    list-style: circle;
    margin-left: 20px;
}

.footer .list a {
    color: #fff;
}

.footer .list a:hover {
    color: #006699;
}

.footer .content img {
    margin: 0 10px 5px 0;
    border: 5px solid #fff;
}

.wrapper {
    width: 100%;
    height: auto;
}

.header {
    width: 100%;
    height: 145px;
    background: url(https://dd.zerotheme.com/demo/zero555/zResponsive/images/bg-header.png) repeat-x;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header .row {
    width: 1000px;
    height: auto;
    display: flex;
    justify-content: space-between;
}

.branding {
    width: auto;
    height: auto;
}

.search {
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
}

.nav {
    width: 960px;
    padding: 10px 0;
    margin: 15px auto;
    background-color: #006699;
}

.content_container {
    width: 960px;
    height: auto;
    margin: auto;
    margin-bottom: 25px;
    background-color: #fff;
    display: flex;
}

.main_content {
    width: 640px;
    height: auto;
    margin: 20px 10px;
}

.sidebar {
    width: 280px;
    height: auto;
    margin: 20px 10px;
}

.slider {
    position: relative;
    width: 100%;
    height: 300px;
    overflow: hidden;
}

.navigation {
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

.bar {
    width: 20px;
    height: 7px;
    margin: 3px;
    cursor: pointer;
    background-color: #000;
    opacity: .7;
    border-radius: 10px;
    transition: all .3s ease;
}

.bar:hover {
    opacity: 1;
    transform: scale(1.1);
}

input[name="r"] {
    position: absolute;
    visibility: hidden;
}

.slides {
    width: 400%;
    height: 100%;
    display: flex;
}

.slide {
    width: 25%;
    transition: all 3s ease;
}

#r1:checked ~ .s1 {
    margin-left: 0;
}

#r2:checked ~ .s1 {
    margin-left: -25%;
}

#r3:checked ~ .s1 {
    margin-left: -50%;
}

#r4:checked ~ .s1 {
    margin-left: -75%;
}

.block_content {
    width: 100%;
    height: auto;
    margin: 25px 0;
}

.block_content .heading {
    width: 100%;
    height: auto;
}

.block_content .content {
    width: auto;
    height: auto;
}

.block_content .container {
    width: 100%;
    height: auto;
    text-align: right;
}

.more {
    font-size: 12px;
    font-weight: bold;
}

.sidebar .container {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.sidebar .heading {
    color: #fff;
    font-size: 22px;
    padding: 10px 10px 10px 50px;
    background: #006699 url(https://dd.zerotheme.com/demo/zero555/zResponsive/images/boxtitle.png) no-repeat left center;
}

.sidebar .content {
    font-size: 14px;
    line-height: 25px;
    padding: 15px;
}

.sidebar #content {
    padding: 0;
}

.footer {
    width: 100%;
    height: auto;
    padding: 25px 0;
    background-color: #292929;
}

.footer .row {
    width: 960px;
    height: auto;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.footer .container {
    color: #fff;
    width: 300px;
    height: auto;
}

.footer .heading {
    font-size: 22px;
    margin-bottom: 10px;
}

.footer .content {
    font-size: 14px;
    line-height: 25px;
}
